@media screen and (min-width: 1308px) {
  body {
    background-color: #eaeaea;
  }
  #container-grid {
    max-width: 1300px;
    margin: 0 auto;
  }
  nav {
    width: 100%;
    max-width: 1300px;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    display: flex;
    flex-direction: row;

    width: 100%;
    justify-content: space-between;
    background-color: var(--negro2);
  }
  .logo {
    padding: 1rem;
  }
  .logo img {
    width: 100%;
    max-width: 180px;
  }
  .logo i {
    display: none;
  }
  .menu {
    background-color: var(--negro2);
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu-hr {
    display: none;
  }
  .navbar-button {
    background-color: var(--azuloscuro);
  }
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
    background-color: rgba(1, 10, 52, 0.838);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu-hr {
    width: 90%;
    background-color: var(--blanco);
  }
  .item {
    padding: 1rem;
  }
  nav a {
    color: var(--blanco);
    text-decoration: none;
    text-align: center;
  }
  nav a:hover {
    background-color: #0b3860;
    width: 100%;
  }
  .navbar-button {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    padding: 0.5rem;
    font-family: "Marcellus", serif;
    color: var(--blanco);
  }
}
@import url(https://fonts.gstatic.com/s/marcellus/v13/wEO_EBrOk8hQLDvIAF81WPoK7Es.woff2);

:root {
  --azulclaro: #48d6ed;
  --azuloscuro: #337ab7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #b2b3b3;
  --fondo: #fffefc;
  --verdeazul: #157a8a;
  --Magenta: #9c2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337ab7 2.89%, #0b3860 80.34%);
}

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: var(--blanco);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--negro2);
  font-family: "Marcellus", serif;
  font-size: 1.3em;
  padding: 1rem;
}
.item {
  padding: 1rem;
}
.navbar-button {
  background-color: var(--azuloscuro);
  padding: 0.5rem 1rem;
  color: var(--blanco);
  border-radius: 5px;
  font-family: "Marcellus", serif;
  font-size: 1em;
}
.menu i {
  margin-right: 0.5rem;
}
.logo {
  background-color: var(--negro2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.logo img {
  height: 3rem;
}
.logo i {
  color: var(--blanco);
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Marcellus", serif;
}

#features {
  background: url(../img/bg-features.png);
  color: white;
  padding-top: 1rem;
}

.features-title {
  background-color: rgba(0, 0, 0, 0.35);
  text-align: center;
  padding: 0.5rem;
  font-size: 1.5em;
}

.features-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature {
  width: 25%;
  min-width: 180px;
  max-width: 230px;
  margin: 0.8rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.feature i {
  font-size: 2.2em;
  margin-bottom: 1.5rem;
}

.feature-blue {
  background-color: #00325eae;
}

.feature-black {
  background-color: rgba(0, 0, 0, 0.59);
}
#container-grid {
  display: grid;
  grid-template:
    "nav" auto
    "banner" 400px
    "descripcion" auto
    "feature" auto
    "ubicacion" auto
    "opinion" auto
    "footer" auto;
}
